.cube > div {
    position: absolute;
    background-color: rgba(calc(var(--faceR) - calc(var(--shadowRatio) * var(--faceWeight))), calc(var(--faceG) - calc(var(--shadowRatio) * var(--faceWeight))), calc(var(--faceB) - calc(var(--shadowRatio) * var(--faceWeight))), var(--faceA));
    box-shadow: inset 2px 2px 14px 4px #00000038;
}

.cube__f { //front
    --faceWeight: 5;
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%) translateZ(calc((var(--depth) / 2)));
}

.cube__l { //left
    --faceWeight: 10;
    width: var(--depth);
    height: var(--height);
    transform: translate(-50%, -50%) rotateY(90deg) translateZ(calc((var(--width) / 2)));
}

.cube__t { //top
    --faceWeight: 0;
    width: var(--width);
    height: var(--depth);
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(calc((var(--height) / 2)));
}

.cube__b { //bottom
    --faceWeight: 20;
    width: var(--width);
    height: var(--depth);
    transform: translate(-50%, -50%) rotateX(-90deg) translateZ(calc((var(--height) / 2)));
}

.cube__r { //right
    --faceWeight: 10;
    width: var(--depth);
    height: var(--height);
    transform: translate(-50%, -50%) rotateY(-90deg) translateZ(calc((var(--width) / 2)));
}

.cube__k { //back
    --faceWeight: 15;
    width: var(--width);
    height: var(--height);
    transform: translate(-50%, -50%) rotateY(180deg) translateZ(calc((var(--depth) / 2)));
}
