.cube-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
}




.dvn5khfgk6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
}

.dvn5khfgk6 .face0 {
    position: absolute;
}

.dvn5khfgk6 .-front {
    width: 216px;
    height: 169px;
    transform: translate(-50%, -50%) rotateY(0deg) translateZ(53px);
    background: rgba(207, -5, 197, 0.39);
}

.dvn5khfgk6 .-left {
    width: 106px;
    height: 169px;
    transform: translate(-50%, -50%) rotateY(90deg) translateZ(108px);
    background: rgba(162, -50, 152, 0.39);
}

.dvn5khfgk6 .-top {
    width: 216px;
    height: 106px;
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(84.5px);
    background: rgba(212, 0, 202, 0.39);
}

.dvn5khfgk6 .-bottom {
    width: 216px;
    height: 106px;
    transform: translate(-50%, -50%) rotateX(-90deg) translateZ(84.5px);
    background: rgba(112, -100, 102, 0.39);
}

.dvn5khfgk6 .-right {
    width: 106px;
    height: 169px;
    transform: translate(-50%, -50%) rotateY(-90deg) translateZ(108px);
    background: rgba(162, -50, 152, 0.39);
}

.dvn5khfgk6 .-back {
    width: 216px;
    height: 169px;
    transform: translate(-50%, -50%) rotateY(180deg) translateZ(53px);
    background: rgba(137, -75, 127, 0.39);
}
