@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    /*min-height: 100vh;*/
    background: radial-gradient(#03573f, #01140f), url(./assets/noise.png);
    background-blend-mode: multiply;
}

#cube-test-place {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}