$prefix: "tp";

// Geometry
$separator-width: 2px;
$slider-knob-size: 12px;

// Animation
$folder-transition-duration: 0.2s;

// Z-index
$z-index-picker: 1000;

.tp-vars {
    --font-family: var(--tp-font-family, Roboto Mono, Source Code Pro, Menlo, Courier, monospace);
    --cnt-h-p: var(--tp-container-horizontal-padding-v3, 4px);
    --cnt-v-p: var(--tp-container-vertical-padding-v3, 4px);
    --elm-br: var(--tp-element-border-radius-v3, 2px);
    --bld-h: var(--tp-blade-height-v3, 20px);
    --bld-s: var(--tp-blade-spacing-v3, 4px);
    --value-width: var(--tp-value-width-v3, 160px);

    --bs-br: var(--tp-base-border-radius-v3, 6px);
    --bs-bg: var(--tp-base-background-color, #2f3137);
    --bs-sh: var(--tp-base-shadow-color, rgba(0, 0, 0, 0.2));

    --btn-bg: var(--tp-button-background-color, #adafb8);
    --btn-bg-a: var(--tp-button-background-color-active, #d6d7db);
    --btn-bg-f: var(--tp-button-background-color-focus, #c8cad0);
    --btn-bg-h: var(--tp-button-background-color-hover, #bbbcc4);
    --btn-fg: var(--tp-button-foreground-color, #2f3137);

    --cnt-bg: var(--tp-container-background-color, var(--tp-folder-background-color, rgba(187, 188, 196, 0.1)));
    --cnt-bg-a: var(--tp-container-background-color-active, var(--tp-folder-background-color-active, rgba(187, 188, 196, 0.25)));
    --cnt-bg-f: var(--tp-container-background-color-focus, var(--tp-folder-background-color-focus, rgba(187, 188, 196, 0.2)));
    --cnt-bg-h: var(--tp-container-background-color-hover, var(--tp-folder-background-color-hover, rgba(187, 188, 196, 0.15)));
    --cnt-fg: var(--tp-container-foreground-color, var(--tp-folder-foreground-color, #bbbcc4));

    --in-bg: var(--tp-input-background-color, rgba(0, 0, 0, 0.2));
    --in-bg-a: var(--tp-input-background-color-active, rgba(0, 0, 0, 0.35));
    --in-bg-f: var(--tp-input-background-color-focus, rgba(0, 0, 0, 0.3));
    --in-bg-h: var(--tp-input-background-color-hover, rgba(0, 0, 0, 0.25));
    --in-fg: var(--tp-input-foreground-color, #bbbcc4);

    --lbl-fg: var(--tp-label-foreground-color, rgba(187, 188, 196, 0.7));
    --mo-bg: var(--tp-monitor-background-color, rgba(0, 0, 0, 0.2));
    --mo-fg: var(--tp-monitor-foreground-color, rgba(187, 188, 196, 0.7));
    --grv-fg: var(--tp-groove-foreground-color, var(--tp-separator-color, rgba(0, 0, 0, 0.2)));

    --button-background-color: var(--btn-bg);
    --button-background-color-active: var(--btn-bg-a);
    --button-background-color-focus: var(--btn-bg-f);
    --button-background-color-hover: var(--btn-bg-h);
    --button-foreground-color: var(--btn-fg);

    --folder-background-color: var(--cnt-bg);
    --folder-background-color-active: var(--cnt-bg-a);
    --folder-background-color-focus: var(--cnt-bg-f);
    --folder-background-color-hover: var(--cnt-bg-h);
    --folder-foreground-color: var(--cnt-fg);

    --input-background-color: var(--in-bg);
    --input-background-color-active: var(--in-bg-a);
    --input-background-color-focus: var(--in-bg-f);
    --input-background-color-hover: var(--in-bg-h);
    --input-foreground-color: var(--in-fg);

    --label-foregound-color: var(--lbl-fg);

    --monitor-background-color: var(--mo-bg);
    --monitor-foreground-color: var(--mo-fg);

    --separator-color: var(--grv-fg);
    --unit-size: var(--bld-h);
}

.tp-rotv {
    background-color: var(--bs-bg);
    border-radius: var(--bs-br);
    box-shadow: 0 2px 4px var(--bs-sh);
    font-family: var(--font-family);
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
}

.tp-lblv {
    align-items: center;
    display: flex;
    line-height: 1.3;
    padding-left: var(--cnt-h-p);
    padding-right: var(--cnt-h-p);
}

.tp-lblv_l {
    color: var(--lbl-fg);
    flex: 1;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 16px;
}

.tp-lblv_v {
    align-self: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--value-width);
}

.#{$prefix}-sldv {
    &.#{$prefix}-v-disabled {
        opacity: 0.5;
    }

    &_t {
        position: relative;
        box-sizing: border-box;
        height: var(--bld-h);
        margin: 0 ($slider-knob-size / 2);
        outline: none;
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            background-color: var(--in-bg);
            border-radius: 1px;

            height: 2px;

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    &_k {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        &::before {
            content: "";
            display: block;
            background-color: var(--in-fg);
            border-radius: 1px;

            height: 2px;

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin-bottom: auto;
            margin-top: auto;
        }
        &::after {
            content: "";
            display: block;
            background-color: var(--btn-bg);
            border-radius: var(--elm-br);

            height: $slider-knob-size;
            right: -$slider-knob-size / 2;
            width: $slider-knob-size;

            position: absolute;
            top: 0;
            bottom: 0;
            margin-bottom: auto;
            margin-top: auto;
        }
    }
    &_t:hover &_k::after {
        background-color: var(--btn-bg-h);
    }
    &_t:focus &_k::after {
        background-color: var(--btn-bg-f);
    }
    &_t:active &_k::after {
        background-color: var(--btn-bg-a);
    }
}

// slider-text
.#{$prefix}-sldtxtv {
    display: flex;

    &_s {
        flex: 2;
    }
    &_t {
        flex: 1;
        margin-left: 4px;
    }
}





%input {
	//@extend %resetUserAgent;

	min-width: 0;
	width: 100%;
	height: var(--bld-h);
	line-height: var(--bld-h);

	border-radius: var(--elm-br);
	box-sizing: border-box;
	background-color: var(--in-bg);
	color: var(--in-fg);
	font-family: inherit;

	&:hover {
		background-color: var(--in-bg-h);
	}
	&:focus {
		background-color: var(--in-bg-f);
	}
	&:active {
		background-color: var(--in-bg-a);
	}
	&:disabled {
		opacity: 0.5;
	}
}





.#{$prefix}-txtv {
	position: relative;

	&_i {
		@extend %input;

		padding: 0 4px;
	}
	&#{&}-fst &_i {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
	}
	&#{&}-mid &_i {
		border-radius: 0;
	}
	&#{&}-lst &_i {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}

// number-text
.#{$prefix}-txtv {
	$knob-bounds-width: 12px;
	$knob-visual-width: 2px;

	&#{&}-num &_i {
		text-align: right;
	}
	&#{&}-drg &_i {
		opacity: 0.3;
	}
	&_k {
		position: absolute;
		left: 2px - (($knob-bounds-width - $knob-visual-width) / 2);
		top: 0;
		width: $knob-bounds-width;
		height: 100%;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			width: $knob-visual-width;
			height: calc(var(--bld-h) - 4px);

			margin-bottom: auto;
			margin-left: -($knob-visual-width / 2);
			margin-top: auto;

			background-color: var(--in-fg);
			border-radius: $knob-visual-width / 2;
			opacity: 0.1;
			transition: border-radius 0.1s, height 0.1s, transform 0.1s, width 0.1s;
		}
	}
	&_k:hover::before,
	&#{&}-drg &_k::before {
		opacity: 1;
	}
	&#{&}-drg &_k::before {
        width: 4px;
		height: 4px;
		border-radius: 50%;
		transform: translateX(($knob-visual-width - 4px) / 2);
	}
	&_g {
		display: block;
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 8px;
		margin: auto;
		overflow: visible;
		visibility: hidden;
		pointer-events: none;
	}
	&#{&}-drg &_g {
		visibility: visible;
	}
	&_gb {
		fill: none;
		stroke: var(--in-fg);
		stroke-dasharray: 1;
	}
	&_gh {
		fill: none;
		stroke: var(--in-fg);
	}

	.#{$prefix}-ttv {
        margin-left: $knob-bounds-width / 2;
		visibility: hidden;
	}
	&#{&}-drg .#{$prefix}-ttv {
		visibility: visible;
	}
}

.custom-vars {
    --tp-base-background-color: #e5e7eb;
    --tp-label-foreground-color: rgba(0, 0, 0, 0.7);
    --tp-input-foreground-color: hsl(233, 8%, 21%);
}
